*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  background-color: #f1faee; }

body {
  width: 90vw;
  margin: 15px auto;
  border-radius: 6px;
  box-shadow: 10px 10px 20px #d0d1d5;
  font-family: "Open Sans", sans-serif;
  background-color: #f1faee;
  color: #000;
  font-size: 1.15rem;
  font-weight: 300; }
  body a:link {
    color: #000; }
  body a:visited {
    color: #1d3557; }

@media screen and (min-width: 800px) {
  body {
    width: 75vw;
    box-shadow: 20px 20px 40px #d0d1d5; } }

@media screen and (min-width: 800px) and (min-width: 1450px) {
  body {
    width: 70vw; } }

@media screen and (min-width: 800px) and (min-width: 1750px) {
  body {
    width: 65vw; } }

@media screen and (min-width: 800px) {
  .cv-grid {
    margin: 45px auto;
    display: grid;
    border-radius: 10px;
    grid-gap: 0rem;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1.618fr 1fr;
    grid-template-areas: "head head" "summary contact" "main side" "foot foot"; } }

@media print {
  @page {
    margin: 36pt; }
  body {
    width: 100%;
    margin: 0px;
    padding: 0px; } }

.hr-style {
  border: 0;
  height: 1px;
  margin-bottom: 2rem; }
  .hr-style--main {
    background-image: linear-gradient(to left, #f1faee, #1d3557, #f1faee); }
  .hr-style--side {
    background-image: linear-gradient(to left, #a8dadc, #1d3557, #a8dadc); }

header {
  grid-area: head;
  background: linear-gradient(to right, #f1faee 61.8%, #a8dadc 61.8%);
  border-radius: 6px 6px 0 0;
  display: flex;
  flex: min-content;
  justify-content: center; }
  header .title {
    background-color: #f1faee;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 2rem;
    border-radius: 6px;
    border: 2px solid #1d3557; }
    header .title p {
      font-family: "Open Sans", sans-serif;
      font-size: 1.5em;
      font-weight: 300; }

.summary {
  grid-area: summary;
  padding: 1rem 1rem 1rem 2rem; }
  .summary p {
    padding-bottom: .4em; }

.contact {
  grid-area: contact;
  font-size: 0.9em;
  overflow-wrap: anywhere;
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: safe;
  align-items: center;
  background-color: #a8dadc; }
  .contact img {
    padding: 2rem 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    object-fit: cover;
    opacity: 1.0;
    z-index: -1; }

main {
  grid-area: main;
  padding: 1rem 1rem 4rem 2rem; }
  main p {
    padding-bottom: .4rem; }
  main .experience:nth-of-type(1n+2),
  main .projects:nth-of-type(1n+2) {
    padding-top: 3rem; }

aside {
  grid-area: side;
  overflow-wrap: anywhere;
  padding: 1rem 2rem 4rem 1rem;
  background-color: #a8dadc;
  font-size: 0.9em;
  background: linear-gradient(to bottom, #a8dadc 95%, #f1faee); }
  aside p {
    padding: .5rem 0; }
  aside .skills:nth-of-type(1n+2),
  aside .education:nth-of-type(1n+2),
  aside .languages:nth-of-type(1n+2),
  aside .interests:nth-of-type(1n+2) {
    padding-top: 3rem; }

footer {
  grid-area: foot;
  display: flex;
  flex: auto auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3rem 4rem 1rem 4rem;
  font-size: 1rem;
  font-weight: 300;
  background-color: #457b9d;
  border-radius: 0 0 6px 6px;
  color: #f1faee; }
  footer a,
  footer p {
    padding: 1rem; }
  footer a:link {
    color: #f1faee; }
  footer a:visited {
    color: #1d3557; }
  footer i {
    letter-spacing: normal; }
  footer .copyright {
    break-before: always;
    text-align: center; }

i {
  color: #1d3557;
  letter-spacing: 0.5em; }

h1 {
  font-size: 3em;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #1d3557; }

h2 {
  font-size: 1.5em;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0.5rem; }

h3 {
  font-size: 1.25em;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  padding-top: 1rem; }

h4 {
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding-top: 0.5rem; }

h6 {
  font-size: .9em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-bottom: .5rem;
  color: #60665f; }
