*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  background-color: #f5f6fa; }

body {
  font-family: "Roboto", sans-serif;
  color: #353b48;
  font-weight: 400; }

.cv-grid {
  width: 70vw;
  margin: 45px auto;
  background-color: #f5f6fa;
  display: grid;
  border-radius: 10px;
  box-shadow: 20px 20px 45px #d0d1d5;
  grid-gap: 0em;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: minmax(371px, 1.618fr) minmax(229px, 1fr);
  grid-template-areas: "head head-side" "sum contact" "main side" "foot foot"; }
  .cv-grid > * {
    background-color: #f5f6fa; }
  .cv-grid .hr-style {
    border: 0;
    height: 1px;
    margin-bottom: 2em; }
    .cv-grid .hr-style--main {
      background-image: linear-gradient(to left, #f5f6fa, #7f8fa6, #f5f6fa); }
    .cv-grid .hr-style--side {
      background-image: linear-gradient(to left, #7f8fa63f, #7f8fa6, #7f8fa63f); }
  .cv-grid .header {
    grid-area: head;
    text-align: center;
    padding: 1em 1em 1em 2em;
    border-radius: 6px 0 0 0; }
  .cv-grid .header-side {
    grid-area: head-side;
    display: flex;
    overflow-wrap: anywhere;
    justify-content: center;
    align-content: center;
    padding: 1em 2em 1em 1em;
    border-radius: 0 6px 0 0;
    font-size: 0.9em;
    background: linear-gradient(to bottom, #f5f6fa, #7f8fa63f); }
    .cv-grid .header-side img {
      border-radius: 5%;
      width: 100px;
      object-fit: cover;
      opacity: 1.0;
      z-index: -1; }
  .cv-grid .summary {
    grid-area: sum;
    padding: 1em 1em 1em 2em; }
    .cv-grid .summary p {
      padding-bottom: .3em; }
  .cv-grid .contact {
    grid-area: contact;
    font-size: 0.9em;
    overflow-wrap: anywhere;
    padding: 1em 2em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #7f8fa63f; }
  .cv-grid .main {
    grid-area: main;
    padding: 1em 1em 4em 2em; }
    .cv-grid .main p {
      padding-bottom: .3em; }
    .cv-grid .main .experience:nth-of-type(1n+2),
    .cv-grid .main .projects:nth-of-type(1n+2) {
      padding-top: 3em; }
  .cv-grid .side {
    grid-area: side;
    overflow-wrap: anywhere;
    padding: 1em 2em 4em 1em;
    background-color: #7f8fa63f;
    font-size: 0.9em;
    background: linear-gradient(to bottom, #7f8fa63f 95%, #f5f6fa); }
    .cv-grid .side p {
      padding: .5em 0; }
    .cv-grid .side .skills:nth-of-type(1n+2),
    .cv-grid .side .education:nth-of-type(1n+2),
    .cv-grid .side .languages:nth-of-type(1n+2),
    .cv-grid .side .interests:nth-of-type(1n+2) {
      padding-top: 3em; }
    .cv-grid .side h4 {
      padding-top: 1em; }
  .cv-grid .footer {
    grid-area: foot;
    padding: 1em 1em 1em 4em;
    font-size: .9em;
    font-weight: 300;
    background-color: #7f8fa6;
    border-radius: 0 0 6px 6px;
    color: #353b48; }
  .cv-grid h1 {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #718093; }
  .cv-grid h2 {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    color: #718093;
    padding-bottom: 1em; }
  .cv-grid h3 {
    font-size: 1.5em;
    font-weight: 300; }
  .cv-grid h4 {
    font-size: 1.25em;
    font-weight: 500; }
  .cv-grid h6 {
    font-size: .9em;
    font-weight: 400;
    padding-bottom: .5em;
    color: #718093; }
