$base-color: #dcdde1;
$med-text-color: #718093;
$dark-text-color: #353b48;
$light-text-color: #f5f6fa;
$border-color: #7f8fa6;
$side-base-color: #7f8fa63f;
// $footer-color: #192a56cf;
$footer-color: $border-color;

:root {
    background-color: $base-color;
    font-size: 1em;
}

.cv-grid {
    width: 1000px;
    margin: 30px auto;
    
    display: grid;
    grid-template-rows: repeat(4,min-content);
    grid-template-columns: 2.75fr 1.25fr;
    grid-gap: 0em;
    
    grid-template-areas: "head head-side"
                         "sum sum-side"
                         "main side"
                         "foot foot-side";
    
    & > * {
      background-color: $base-color;
      padding: 1em;
      color: $dark-text-color;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
    }
    
    .header {
      grid-area: head;
    //   border-bottom: 1px solid $border-color;
      & h1,h3 {
          line-height: .2em;
      }
    }
    .header-side {
        grid-area: head-side;
        // background-color: $side-base-color;
        background: linear-gradient(to bottom, $base-color, $side-base-color);
        // border-bottom: 1px solid $border-color;
    }
    .summary {
      grid-area: sum;
    //   border-bottom: 1px solid $border-color;
    }
    .summary-side {
        grid-area: sum-side;
        // justify-items: center;
        // align-items: center;
        background-color: $side-base-color;
        // background: linear-gradient(to left, $base-color, $side-base-color);
        border-bottom: 1px solid $border-color;
    }
    .main {
      grid-area: main;
      & h4,h6 {
          line-height: .2em;
      }
    }
    .side {
        grid-area: side;
        background-color: $side-base-color;
        font-size: .9em;
        background: linear-gradient(to bottom, $side-base-color 95%, $base-color);
    }
    // .projects {
    //   grid-area: prj;
    // }
    // .skills {
    //     grid-area: ski;
    //     background-color: $side-base-color;
    // }
    // .education {
    //   grid-area: edu;
    // }
    .footer {
      grid-area: foot;
      font-size: .9em;
      font-weight: 300;
      background-color: $footer-color;
      // background: linear-gradient(to right, $footer-color 85%, $side-base-color 100%);
      color: $dark-text-color;
    }
    .footer-side {
        grid-area: foot-side;
        font-size: .9em;
        font-weight: 300;
        background-color: $base-color;
        // background: linear-gradient(to bottom left, $border-color 20%, $footer-color);
        color: $med-text-color;
    }
  }

h1 {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: $med-text-color;
}
h2 {
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    // background-color: currentColor;
    color: $med-text-color;
}
h3 {
    font-size: 2em;
    font-weight: 300;
}
h4 {
    font-size: 1.4em;
    font-weight: 500;
}
h6 {
    font-size: .9em;
    font-weight: 400;
    color: $med-text-color;
}
// p {
//     font-size: 1.3em;
// }