<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="main.css">
    <title>Brad Arnst CV</title>
</head>
<body>
    <div class="cv-grid">
        <div class="header">
            {% for header in collections.header -%}
            {{ header.templateContent | safe }}
            {% endfor -%}
        </div>
        <div class="header-side">
            {% for header-side in collections.header-side -%}
            {{ header-side.templateContent | safe }}
            {% endfor -%}
        </div>
        <div class="summary">
            {% for summary in collections.summary -%}
            {{ summary.templateContent | safe }}
            {% endfor -%}
        </div>
        <div class="summary-side">
            {% for summary-side in collections.summary-side -%}
            {{ summary-side.templateContent | safe }}
            {% endfor -%}
        </div>
        <div class="main">
            <div class="experience">
                {% for experience in collections.experience -%}
                {{ experience.templateContent | safe }}
                {% endfor -%}
            </div>
            <div class="projects">
                {% for projects in collections.projects -%}
                {{ projects.templateContent | safe }}
                {% endfor -%}
            </div>
        </div>
        
        <div class="side">
            <div class="skills">
                {% for skills in collections.skills -%}
                {{ skills.templateContent | safe }}
                {% endfor -%}
            </div>
            <div class="education">
                {% for education in collections.education -%}
                {{ education.templateContent | safe }}
                {% endfor -%}
            </div>
            <div class="languages">
                {% for languages in collections.languages -%}
                {{ languages.templateContent | safe }}
                {% endfor -%}
            </div>
        </div>
        <div class="footer">
            {% for footer in collections.footer -%}
            {{ footer.templateContent | safe }}
            {% endfor -%}
        </div>
        <div class="footer-side">
            
        </div>
    </div>
</body>
</html>